.container {
  max-width: 312px;
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}
.img{
 width: 312px;
 height: 400px;
 object-fit: cover;
 box-sizing: border-box;
 border-radius: .5rem;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

