.container {
  width: 100%;
  padding: 20px 0;
  border-top: 2px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.childContainer{
  width: 1125px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
  align-Items:center;
  padding-bottom: 2rem;
  @media screen and (max-width: 1276px) {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
}
.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  height: 200px;
}
.columnChild{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.columnChild a{
 cursor: pointer;
 font-size:.8em;
 text-decoration: none;
 color: #222;
 text-transform: uppercase;
}
.columnChild a:hover{
  text-decoration: underline;
  color: blue;
 }

.title{
  color: #8a8a8a;
  font-size:1.1em;
}
.typerguy{
  color: #6667ab;
  font-size:1.3em;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: 'Archivo Black',cursive,'sans-sarif';
}
